<ion-content  padding color="primary">
  <div class="header" color="success" >
<ion-button color="light" size="large" fill="outline"> Add a new driver</ion-button>
<br>

  </div>
  <div class="grid">
    <ion-list class="grid">
      <ion-card>
        <ion-item>
          <ion-icon name="person" slot="start" color="light"></ion-icon>
          <ion-label>Driver Name</ion-label>
          <ion-button fill="outline" slot="end" color="light">Edit Driver</ion-button>
        </ion-item>
      
        <ion-card-content>
          This is content, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
      </ion-card>
      
    </ion-list>
  </div>
 
</ion-content>