ion-item{
    --background: #3880ff;
    --color: #fff;
    //margin-bottom: 20px;
    border-radius: 10px !important; 
    //padding-top:20%; 
}
ion-button{
    --background: #062f77;
}
ion-card{
    //box-shadow: none !important;
   //--background: #3880ff;
    margin-bottom: 20px;
    border-radius: 30px;
}
.div {
    //height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-left:8% !important ; 
}
.header{
    height: 20%!important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #3880ff;
    //border-bottom-left-radius: 30px;
    //border-bottom-right-radius: 30px;
}
.icon{
    width: 40%;
    height: 50%;
    margin-left: 10px;
    
}

h1{
    color: #fff;
    margin-left: 5%;
    margin-top: -4%;
}
h3{
    color: #fff;
    //margin-left: 5%;
    //margin-top: -4%;
}
.grid{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color:#fff;
    height: 100%;
}
.bg{
    --background:  #69bb7b
}
ion-input{
    
}
.image{
    opacity: 0.2;
}
ion-content {
    //--overflow: hidden !important;
}
ion-list{
    background-color: #3880ff;
    --overflow:40px !important; 
    height: 100% !important;
    margin-top: 30%;
}

.category-concept-card
	{
		background-color: white;
		border-radius: 15px;
		box-shadow: none;
		margin-bottom: 20px;

		.category-title
		{
			color: #FFF;
			font-weight: 600;
			font-size: 2.2rem;
			margin: 0px;
		}

		.category-description
		{
			color: #FFF;
			margin-bottom: 20px;
		}

		.category-tag
		{
			border: 1px solid #FFF;
			color: #FFF;
			background: transparent;
			font-weight: 300;
			margin-right: 4px;
			opacity: 0.6;
		}
	}