
<ion-header color="primary" class="ion-no-border">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button color="light"
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  padding color="primary">
  <div class="header" color="success" >

<br>

  </div>
  <div class="grid">
    <ion-grid >
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="mat" type="number" placeholder="Latitude" [(ngModel)]="alt" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="weight" type="number" placeholder="Longitude" [(ngModel)]="lng" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="weight" type="number" placeholder="Weight" [(ngModel)]="weight" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="location" type="text" placeholder="Location" [(ngModel)]="location" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Driver Assigned To </ion-label>
              <ion-select value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="driverID"> 
                <ion-select-option [value]="driver.idusers" *ngFor ="let driver of Drivers">{{driver.name}} {{driver.firstname}}</ion-select-option>
                
              </ion-select>
            </ion-item>
          </div>
          <div >
          <ion-row >
           
              <ion-button expand="block" size="large" color="success" (click)="addBin()"> Save</ion-button>
              <ion-button expand="block" size="large" color="danger" (click)="getBack()">Cancel</ion-button>
            
          </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
 
</ion-content>