<ion-header color="primary" class="ion-no-border">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button color="light"
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  padding color="primary">
  <div class="header" color="success" slot="fixed" >
<ion-button color="light" size="large" fill="outline" routerLink="/addtruck"> Add a new truck</ion-button>
<br>

  </div>
  <ion-list lines="full">
    <ion-item *ngFor="let truck of trucks" button (click)="presentActionSheet(truck.idtruck)">
      <ion-avatar slot="start">
        <img src="/assets/icons8-dépanneuse-96.png"/>
      </ion-avatar>
      <ion-label>
        <h5>Vehicule ID : {{truck.matricule}} </h5>
        <h5>Association To : {{truck.affected_to}}</h5>
      </ion-label>
    
    
    </ion-item>
 
  </ion-list>
 
</ion-content>