<ion-header color="primary" class="ion-no-border">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button color="light"
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  padding color="primary">
  <div class="header" color="success" slot="fixed">
<ion-button color="light" size="large" fill="outline" routerLink="/addbin"> Add a new bin</ion-button>
<br>

  </div>
  <ion-list lines="full">
    <ion-item *ngFor="let bin of bins" button (click)="presentActionSheet(bin.idbin)">
      <ion-avatar slot="start">
        <img src="/assets/icons8-déchets-96.png"/>
      </ion-avatar>
     <ion-label>
       <h3>Location: {{bin.location}} </h3>
       <h3>Association : {{bin.assignedto}} </h3>

     </ion-label>
    
    </ion-item>
 
  </ion-list>
 
</ion-content>