ion-item{
    --background: #3880ff;
    --color: #fff;
    margin-bottom: 20px;
    border-radius: 10px !important; 
}

.ToolbarVerde{
    --padding-top: 0px !important;
    --padding-start: 0px !important;
    --padding-right: 0px !important;
    --padding-end: 0px !important;
}
ion-button{

    
width: 100% !important ; 
}
ion-header {
    --border-style: none;
    box-shadow: none !important;
  }
ion-card{
    //box-shadow: none !important;
   //--background: #3880ff;
    margin-bottom: 20px;
    border-radius: 30px;
}
.div {
    //height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-left:8% !important ; 
}
.header{
    height: 20%!important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    
    //background-color: #3880ff;
    //border-bottom-left-radius: 30px;
    //border-bottom-right-radius: 30px;
}
.icon{
    width: 40%;
    height: 50%;
    margin-left: 10px;
    
}

h1{
    color: #fff;
    margin-left: 5%;
    margin-top: -4%;
}
h3{
    color: #fff;
    //margin-left: 5%;
    //margin-top: -4%;
}
.grid{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color:#fff;
    height: 100%;
}
.bg{
    --background:  #69bb7b
}
ion-input{
    
}
.image{
    opacity: 0.2;
}
ion-content {
    --overflow: hidden !important;
}
ion-list{
    --background: #3880ff;
}