<ion-header color="primary" class="ion-no-border">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button color="light"
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  padding color="primary">
  <div class="header" color="success" >
<ion-button color="light" size="large" fill="outline" routerLink="/addagent"> Add a new agent</ion-button>
<br>

  </div>
  <ion-list>
    <ion-item *ngFor="let driver of Agents" button (click)="presentActionSheet(driver.idusers)">
      <ion-avatar slot="start">
        <img src="/assets/icons8-utilisateur-96.png"/>
      </ion-avatar>
      <h3>{{driver.firstname}} {{driver.name}}
        <br>
      ID:  {{driver.matricule}}
      </h3>
    
    </ion-item>
 
  </ion-list>
 
 
</ion-content>