

<ion-content [fullscreen]="true" color="primary">

<div class="div">
  <ion-grid class="ion-align-self-center">
    <ion-row class="ion-text-center">
      <img src="/assets/trash.png" style="width: 50%;height: 50%;align-self: center;margin-left: 20%;margin-bottom: 10%;"/>
    </ion-row>
     <ion-row>
      <ion-button  fill="outline" size="large" color="light" class="sqare_button " routerLink="/login">Driver</ion-button>
     </ion-row>
     <ion-row>
      <ion-button fill="outline" size="large" color="light" class="sqare_button " routerLink="/agentlogin">Agent</ion-button>
    </ion-row>
   </ion-grid>

</div>

 
</ion-content>
