<ion-content  padding color="primary">
  <div class="header">
    
  </div>
 <ion-grid >
   <ion-row>
    <ion-col class="border" >
      <img src="/assets/icons8-dépanneuse-96.png" routerLink="/trucklist">
      <br>
    </ion-col>
    <ion-col class="border">
      <img src="/assets/icons8-utilisateur-96.png" routerLink="/agentlist">
     
      <br>
    </ion-col>
   </ion-row>
   <ion-row>
    <ion-col class="border">
      <img src="/assets/icons8-déchets-96.png" routerLink="/binlist">
      <br>
   
    </ion-col>
    <ion-col class="border">
      <img src="/assets/icons8-conducteur-96.png" routerLink="/driverlist">
      
     
    </ion-col>
   </ion-row>
  
 </ion-grid>
  </ion-content>